*.sqlite
*.egg
*.egg-info
*.pyc
*$py.class
*~
running.ini
celerybeat.pid
celerybeat-schedule.db
dump.rdb
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
.idea
coverage
test
