<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="pyramid web application" />
        <meta name="author" content="SQ8KFH" />
        <link rel="shortcut icon" href="{{request.static_path('kfhlog:static/pyramid-16x16.png')}}" />

        <title>{% block title %}SQ8KFH{% endblock %} - KFH Logbook</title>

        <link rel="stylesheet" type="text/css" href="{{request.static_path('kfhlog:static/css/theme.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{request.static_path('kfhlog:static/css/icomoon.css')}}" />

        <script src="{{request.static_path('kfhlog:static/js/jquery.min.js')}}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="usermenu">
                <ul class="usermenu">
                {% if request.user is none %}
                    <li><a href="{{request.route_url('login', _scheme='https')}}"><span class="icon-enter"></span> Login</a></li>
                {% else %}
                    <li><a title="Logout" href="{{request.route_path('logout')}}"><span class="icon-exit"></span> {{request.user.name}}</a></li>
                {% endif %}
                </ul>
            </div>
            <h1>KFHLog</h1>
            <nav>
            <ul class="mainmenu">
                {% if request.user is none %}
                    <li {% if request.matched_route.name == "check" %}class="active"{% endif %}><a href="{{request.route_path('check')}}"><span class="icon-check"></span> Check</a></li>
                {% else %}
                    <li {% if request.matched_route.name == "index" %}class="active"{% endif %}><a href="{{request.route_path('index')}}"><span class="icon-home"></span> Home</a></li>
                    <li {% if request.matched_route.name == "newqso" %}class="active"{% endif %}><a href="{{request.route_path('newqso')}}"><span class="icon-new-message"></span> New QSO</a></li>
                    <li {% if request.matched_route.name == "log" %}class="active"{% endif %}><a href="{{request.route_path('log')}}"><span class="icon-open-book"></span> Log</a></li>
                    <li {% if request.matched_route.name == "map" %}class="active"{% endif %}><a href="{{request.route_path('map')}}"><span class="icon-globe"></span> Map</a></li>
                    <li {% if request.matched_route.name == "awards" %}class="active"{% endif %}><a href="{{request.route_path('awards')}}"><span class="icon-trophy"></span> Awards</a></li>
                    <li {% if request.matched_route.name == "import" %}class="active"{% endif %}><a href="{{request.route_path('import')}}"><span class="icon-download"></span> Import</a></li>
                    <li {% if request.matched_route.name == "export" %}class="active"{% endif %}><a href="{{request.route_path('export')}}"><span class="icon-upload"></span> Export</a></li>
                    <li {% if request.matched_route.name == "settings" %}class="active"{% endif %}><a href="{{request.route_path('settings')}}"><span class="icon-cogs"></span> Settings</a></li>
                {% endif %}
                <li {% if request.matched_route.name == "about" %}class="active"{% endif %}><a href="{{request.route_path('about')}}"><span class="icon-info-with-circle"></span> About</a></li>
            </ul>
            </nav>
        </header>
        <main>{% block content %}{% endblock %}</main>
        <footer>
            <p>Copyright © 2017-2018 SQ8KFH</p>
        </footer>
    </body>
</html>
