{% extends "base.jinja2" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{request.static_url('kfhlog:static/css/log.css')}}" />
    <script src="{{request.static_url('kfhlog:static/js/log.js')}}"></script>
{% endblock %}

{% block content %}

    <table id="log" class="stdtable">
        <thead>
            <tr id="headers">
                <th onclick="changesort('call')"><span id="call_sort"></span>Call</th>
                <th onclick="changesort('datetime_off')"><span id="datetime_off_sort"></span> Date</th>
                <th onclick="changesort('band')"><span id="band_sort"></span> Band</th>
                <th onclick="changesort('mode')"><span id="mode_sort"></span> Mode</th>
                <th>RST Rcvd</th>
                <th>RST Sent</th>
                <th onclick="changesort('dxcc')"><span id="dxcc_sort"></span> DXCC</th>
            </tr>
            <tr id="filters">
                <th><input id="call_filter" type="text" /></th>
                <th><input id="datetime_off_filter" type="text" /></th>
                <th>
                    <select id="band_filter">
                        <option value=""></option>
                        {% for band in band_all %}
                            <option value="{{ band.id }}">{{ band.name }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <select id="mode_filter">
                        <option value=""></option>
                        {% for mode in mode_all %}
                            <option value="{{ mode.id }}">{{ mode.name }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th></th>
                <th></th>
                <th>
                    <select id="dxcc_filter">
                        <option value=""></option>
                        {% for dxcc in dxcc_all %}
                            <option value="{{ dxcc.id }}">{{ dxcc.name }} [{{ dxcc.id }}]</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="7">
                    <div class="pager">
                        <input type="hidden" id="sortby" />
                        <button type="button" id="first"><<</button>
                        <button type="button" id="prev"><</button>
                        <span class="pagedisplay"></span>
                        <button type="button" id="next">></button>
                        <button type="button" id="last">>></button>
                        <input id="page" type="number" min="1" step="1" value="1" title="Page" />
                        <select id="pagesize" title="Page size">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </th>
            </tr>
        </tfoot>
        <tbody class="trhover">
        </tbody>
    </table>

<div id="qso_modal" class="modal">
    <div class="modal-content">
        {% include 'qso_form.jinja2' %}
    </div>
</div>
{% endblock content %}
