{% extends "base.jinja2" %}

{% block content %}
{{message}}
<div class="center">
<form action="{{request.route_path('login')}}" method="post">
    <input type="hidden" name="next" value="{{next_url}}" />
    <ul>
        <li><input type="text" name="login" placeholder="Username" /></li>
        <li><input type="password" name="password" placeholder="Password" /></li>
        <li><input type="submit" value="Login" /></li>
    </ul>
</form>
</div>
{% endblock content %}