#col1, #col2, #col3 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.divTable{
	display: table;
}
.tr, .trc {
	display: table-row;
	height: 33px;
}

.trc {
	height: 99px;
}

.tdl, .tdr {
	display: table-cell;
	padding: 3px 10px;
	vertical-align: middle;
}

.tdl {
	text-align: right;
}

form#newqso div#col1 input[type=number], form#newqso div#col1 input[type=text] {
    width: 227px;
}

form#newqso #date_on {
    width: 113px;
}

form#newqso #time_on {
    width: 87px;
}

form#newqso div#col1 #call {
    width: 210px;
}

form#newqso div#col1 input#rst_sent[type=text],
form#newqso div#col1 input#rst_rcvd[type=text] {
    width: 63px;
}

form#newqso div#col1 #stx_string[type=text],
form#newqso div#col1 #srx_string[type=text] {
    width: 131px;
    margin-left: 10px;
}

form#newqso div#col2 input[type=number], form#newqso div#col2 input[type=text] {
    width: 134px;
}

form#newqso textarea {
  width: 230px;
  height: 84px;
  resize: none;
}

.error {
    box-shadow: 0 0 1.5px 1px red;
}
