.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
	margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid #4d4d4d;
    width: 80%; /* Could be more or less, depending on screen size */
}

form#qso #col1, form#qso #col2, form#qso #col3, form#qso #col4 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.divTable{
	display: table;
}
.tr, .trc {
	display: table-row;
	height: 33px;
}

.trc {
	height: 99px;
}

.tdl, .tdr {
	display: table-cell;
	padding: 3px 10px;
	vertical-align: middle;
}

.tdl {
	text-align: right;
}

form#qso div#col1 input[type=number], form#qso div#col1 input[type=text], form#qso div#col1 select {
    width: 210px;
}

form#qso div#col1 select {
    width: 215px;
}

form#qso #qso_date_on {
    width: 113px;
}

form#qso #qso_time_on {
    width: 87px;
}

form#qso div#col1 #qso_call {
    width: 193px;
}

form#qso div#col1 #qso_rst_sent[type=text],
form#qso div#col1 #qso_rst_rcvd[type=text] {
    width: 63px;
}

form#qso div#col1 #qso_stx_string[type=text],
form#qso div#col1 #qso_srx_string[type=text] {
    width: 131px;
    margin-left: 10px;
}

form#qso div#col2 input[type=number], form#qso div#col2 input[type=text], form#qso div#col2 select  {
    width: 110px;
}

form#qso div#col2 select  {
    width: 115px;
}

form#qso div#col4 select {
    width: 130px;
}

form#qso textarea {
  width: 214px;
  height: 84px;
  resize: none;
}

.error {
    box-shadow: 0 0 1.5px 1px red;
}
