* {    
	padding: 0px;
	margin: 0px auto;
}

body {
	font-family: sans-serif;
	font-size: 13px;
	background-color: black;
	color: white;
}

main, footer, header, nav {
	display: block;
}

main, footer  {
	padding: 5px;
}

header {
	color: #d64635;
}

footer, nav {
	background-color: #4d4d4d;
}

nav {
	clear: right;	/*dla usermenu*/
}

main {
	background-color: white;
	color: #4d4d4d;
}

main::after {
    content: "";
    clear: both;
    display: table;
}

footer {
	text-align: center;
}

div.usermenu {
	float: right;
}

ul.usermenu li {
	display:table-cell;
}

ul.usermenu li a {
	color: #d9d9d9;
	text-decoration: none;
	display: block;
	height: 100%;
	padding: 7px 15px;
}

ul.usermenu li:hover {
	background: #d64635;
}

ul.usermenu li ul {
	overflow: hidden;
	display: none;
	background: #242424;
}

ul.usermenu li:hover ul {
	position: absolute;
	padding: 0;
	display: block;
	width: 360px;
}

/*ul.mainmenu {
	display: table-row;
}*/

ul.mainmenu li {
	display:table-cell;
	border-right: 1px solid #d9d9d9;
	background: #4d4d4d;
}

ul.mainmenu li a, ul.mainmenu li.active a, ul.mainmenu li:hover a {
	color: #d9d9d9;
	text-decoration: none;
	display: block;
	height: 100%;
	padding: 7px 15px;
}

ul.mainmenu li:hover {
	background: #303030;
}

ul.mainmenu li.active, ul.mainmenu li.active:hover {
	background: #d64635;
}

div.center {
    text-align: center;
}

form li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 5px 0 0 0;
}

/*about*/
div.document h1.title {
    font-size: 1em;
    margin-top: 0.33em;
    margin-bottom: 0.11em;
}
div.document ul.simple {
    margin-left: 2em;
}

/* std */

table.stdtable {
    border-collapse: collapse;
}

.stdtable th, .stdtable td {
    /*border-left: 1px solid;
    border-right: 1px solid;*/
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    text-align: center;
}

/*.stdtable tr:last-child {
    border-bottom: 1px solid;
}*/

.stdtable th {
    background-color: #ddd;
    /*border-style: solid;
    border-width: 1px;*/
}

.stdtable tr:nth-child(even) {
    background-color: #eee;
}

.trhover tr:hover {
    color: #d9d9d9;
    background-color: #d64635;
    cursor: pointer;
}

.textleft * {
    text-align: left;
}

a:link, a:visited, a:active  {
    color: #4d4d4d;
    text-decoration: none;
}

a:hover {
    color: #d64635;
    text-decoration: none;
}

.dashboard {
    display: flex;
}


div.column {
    float: left;
    margin-right: 10px;
}

ul.submenu select {
    width: 131px;
}

div.scrolly {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div.inline_block_wrapper {
    display: inline-block;
}


.grid {
  display: none;
  overflow: hidden;
}

.grid--from-b1 {
    display: block;
    left: 25%;
    top: 0%;
}

.grid--to-c1 {
    right: 25%;
    bottom: 66.6666666667%;
}